@import "forms.css";
@import "profile.css";
@import "customTags.css";

/*Header nav bar */

html body{
    margin:0 auto;
    background-color: #e9eeedff;
}

header{
    background-image: linear-gradient(to  right, #52df8aff, #51ccf1ff);
    top:0;
    
    width: 100%;    
    line-height: 4em;
    text-align: center;
    font-family: sans-serif;

}

li, ul{
    display: inline;
    text-decoration: none;
}

li{
    color: white;
    font-weight: bolder;
    font-size: 1.3em;

}


input{
    width: 30%;
    border-radius: 10px;
    border: none;
    line-height: 1.5em;
    padding: 2px 8px;
}

