/*Header nav bar */

header{
    background-image: linear-gradient(to  right, #8feab3ff, #8edef6ff);
    top:0;
    position: absolute;
    width: 100%;
    line-height: 4em;
    text-align: center;
    font-family: sans-serif;

}

li, ul{
    display: inline;
    text-decoration: none;
}

li{
    color: white;
    font-weight: bolder;
    font-size: 1.3em;

}


input{
    width: 30%;
    border-radius: 10px;
    border: none;
    line-height: 1.5em;
    padding: 2px 8px;
}

